@model Project_of_Sharan.Models.User



@if (TempData["SuccessMessage"] != null)
{
    <script>
        Swal.fire({
            icon: 'success',
            title: '@TempData["SuccessMessage"]',
            showConfirmButton: false,
            timer: 1500
        });
    </script>
}

@if (TempData["ErrorMessage"] != null)
{
    <script>
        Swal.fire({
            icon: 'error',
            title: '@TempData["ErrorMessage"]',
            showConfirmButton: false,
            timer: 1500
        });
    </script>
}

<h2>Login</h2>

<form method="post" asp-action="Login">
    <div class="form-group">
        <label for="Username">Username</label>
        <input type="text" class="form-control" id="Username" name="Username" required />
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" name="Password" required />
    </div>

    <div class="form-group">
        <label for="Role">Login as:</label>
        <select class="form-control" id="Role" name="Role" required>
            <option value="User">User</option>
            <option value="Admin">Admin</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>
